.help-btn{
    padding: 5px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    border-radius: 30px;
    margin-left: 88%;
}
.entperfil{
    position: absolute;
    padding: 20px;
    background-color: #cc3fff00;
    margin-left: 28%;
    width: 145px;
    border: 0px;
}
